<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="{12345678-1234-1234-1234-123456789012}"
           Name="TwinBridge Modbus RTU Bridge"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="YourCompany"
           UpgradeCode="{87654321-4321-4321-4321-210987654321}">
    
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />
    
    <Feature Id="ProductFeature" Title="TwinBridge Modbus RTU Bridge" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ServiceComponent" />
    </Feature>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TwinBridge">
          <Directory Id="BinFolder" Name="bin" />
        </Directory>
      </Directory>
    </Directory>
    
    <ComponentGroup Id="ProductComponents" Directory="BinFolder">
      <!-- Files will be harvested by heat.exe during build -->
    </ComponentGroup>
    
    <Component Id="ServiceComponent" Directory="BinFolder" Guid="{11111111-1111-1111-1111-111111111111}">
      <File Id="ServiceExecutable" 
            Source="$(var.ModbusAdsBridge.TargetPath)" 
            KeyPath="yes" />
      
      <ServiceInstall Id="TwinBridgeService"
                      Name="TwinBridge"
                      DisplayName="TwinBridge Modbus RTU Bridge"
                      Description="Bridges communication between Modbus RTU devices and TwinCAT ADS"
                      Type="ownProcess"
                      Start="auto"
                      Account="LocalSystem"
                      ErrorControl="normal"
                      Vital="yes" />
      
      <ServiceControl Id="TwinBridgeServiceControl"
                      Name="TwinBridge"
                      Start="install"
                      Stop="both"
                      Remove="uninstall" />
    </Component>
    
    <InstallExecuteSequence>
      <StopServices Before="InstallFiles" />
      <StartServices After="InstallFiles" />
    </InstallExecuteSequence>
    
  </Product>
</Wix>